img{
    width:200px;
    height:auto;
}

.card-container {
    margin: 1rem;
    padding: 1rem;
    border:3px dashed rgb(128, 0, 0);
  }

a{
    text-decoration: none;
    color:rgb(128, 0, 0);
}
p{
    max-width: 30vw;
}